#logger.conf

#####################定义日志实例#####################

[loggers]
keys=root,hyzn

[logger_root]
level=INFO
handlers=sh,fh

[logger_hyzn]
handlers=sh,fh
qualname=hyzn
propagate=0

##################定义日志输出实例#############################

[handlers]
keys=sh,fh

[handler_sh]
class=StreamHandler
level=DEBUG
formatter=long_format
args=(sys.stderr,)

[handler_fh]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=long_format
args=('app.log','a',10*1024*1024, 5)

#####################定义输入格式##########################

[formatters]
keys=long_format

[formatter_long_format]
format=%(asctime)s [line:%(lineno)d] %(levelname)s %(message)s
#datefmt=%a, %d %b %Y %H:%M:%S